Hi, <%= @user.name %>.  Here are you're top strains:

<table>
<% @strains.each do |strain| %>
	<tr>
		<td><%= link_to strain.name, strain_url(strain) %></td>
		<td><%= strain.description %></td>
	</tr>
<% end %>
</table>