<div class='sg-24'>
	<h1><%= "#{@stock_strain.strain.name} - #{@stock_strain.club.name}:" %><br />
		<span class='sub'><%= 'Dispensary Specific Description'%></span>
		</span>
	</h1>
	<%= render 'form', :stock_strain => @stock_strain %>
</div>