<li id='multi_answer' class="questions">
	<%= quiziation.question.content %>
	<ul>
	<% quiziation.question.answers.each do |answer| %>
		<%= f.fields_for :quiziations, quiziation do |builder| %>
			<li><%= builder.check_box :checked_answers, {}, "answer_#{answer.id};1","answer_#{answer.id};0" %><%= answer.content %></li>
		<% end %>
	<% end %>
	</ul>
</li>