<% subtitle 'Answers'%>

<div class='sgParent sg-24'>
	<div class="apple_pagination">
		<%= will_paginate @answers_section1 %>
	</div>
	<div class='sg-11'>
	<table id='answers' summary='answers index' class='with_tags'>
		<%= render @answers_section1 %>
	</table>
	</div>
	<div class='sg-11'>
	<table id='answers' summary='answers index' class='with_tags'>
		<%= render @answers_section2 %>
	</table>
	</div>
</div>