$main-color: #597216;
$gray-color: #F8F7F4;

body {
	background-color: $gray-color;
	
}

table {
	tr{
		td{
			a{
				margin-top: 10px;
			}
		}
	}
}

div#main {
	margin-top: 50px;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.border-box{
	border: 1px solid darken($gray-color,30%);
	padding: 3px 0px 3px 0px;
	margin-bottom: 14px;
}

.border-bottom{
	border-bottom: 1px solid darken($main-color,30%);
}

div#subtitle{
	padding: 0px 0px 0px 0px;
	margin-left: 7px;
	h1{
		font-size: 110%;
	}
}

/*************** flash **********************/



div#flash{
	//width: 100%;
	height: 30px;
	text-align: center;
	margin: 0px 0px 0px 7px;
	padding: 0;
	div.error{
		background: #F02C00;
	}
}








/**************** navbar *****************/

div#navbar{
	font-size: 90%;
	
	ul{
		float: left;
		padding-left: 7px;
	}
	
	li{
		clear: both;
	}
	
	a{
		height: 20px;
	}
}



/**************** Column *****************/
div#column{
	background: #000;
	font-size: 120%;
	height: 500px;
	float: left;
	
}


div.sidebar{
	background: #D0D0D0;
}


/***************** Content *******************/

div#content{
	float: left;
}


/****************  Header  *****************/

//div.header{
//	margin: auto;
//	width: 812px;
//	padding: 0;
//	
//	h1{
//		float: left;
//		font-size: 180%;
//		background: $main-color;
//		margin-left: 14px;
//		
//		padding: 10px;
//		a{
//			color: white;
//			&:hover {text-decoration: none;}
//		}
//	}
//	
//	div{
//		float: right;
//		h2{
//			height: 29px;
//			border-bottom: 1px black solid;
//		}
//	}
//
//	ul{
//		float: left;
//		list-style:none inside;
//		padding: 0;
//		margin: 0;
//		a{
//			padding: 0;
//			margin: 0;
//			height: 20px;
//		}
//	}
//}
//ol#toc {
//	height: 30px;
//	list-style: none;
//	margin: 0;
//  padding: 0;
//	font-size: 120%;
//	li {
//		float: left;
//		margin: 0 10px 0 0;
//		padding: 0;
//	}
//}


header {
	border-top: 3px solid #597216;
}

div#header{
	width: 812px;
	margin: auto;
	margin-top: 25px;
	
	ol{
		li{
			&:first-child{
				margin-left: 21px;
			}
				
			font-size: 150%;
			float: left;
			margin-left: 35px;
			
			
			a{
				line-height: 37px;
				color: #6D6D6D;
				text-decoration: none;
				&:hover{
					color: black;
				}
			}
		}
	}
}

div#banner{
	clear: both;
	width: 812px;
	margin: auto;
	padding-bottom: 20px;
	border-bottom: 1px solid #6D6D6D;
	
	div.img{
		width: 812px;
		margin: auto;
		padding: 0 26px 0 26px;
	}
	
	p{
		margin: auto;
		width: 620px;
		
		text-align: center;
		font-size: 160%;
		margin-bottom: 5px;
		margin-top: 10px;
	}
}

/***************** footer *****************/








/****************** shared stuff *****************/
a.action{
	font-style: bold;
}


.sub{
	font-size: 85%;
	font-style: italic;
}

table.index{
	tr{
		border-top: 1px solid #AAA;
	}
}


#questions .handle{
	font-size: 80%;
	color: #777;
	cursor: move;
}

table.with_tags{
	width: 100%;
	
	p{
		padding: 5px 0 10px 0;
	}
	tr{
		td{
			border-top: 1px solid #AAA;
			line-height: 13px;
			&:first-child{
			}
			padding: 0 5px 0 5px
		}
	}
	ul{
		padding: 5px 0 20px 0;
		li{
			&:first-child{
				height: auto !important; 
				padding: 1px 3px;
			  height: 15px;
				font-style: italic;
				font-size: 90%;
				float: left;
				line-height: 12px;
			}
		}
	}
}

ul.list_buttons{
	background-color: black;
	li{
		float: left;
	}
}

/**************** home *****************/


div#home{
	div{
	}
}

div.quiz_button{
	margin: auto;
	width: 25%;
	padding: 15px;
	background-color: $main-color;
	
	p{
		text-align:center;
		padding: 5px;
		background-color: white;
	}
}

div#guest_home{
	float: left;
	width: 392px;
	padding: 14px 14px 0 0;
}

div.guest_info{
	font-size: 120%;
	float: left;
	width: 399px;
	
	padding: 14px 0 0 7px;
	
	ul{
		padding-left: 40px;
		li{
			list-style: square;
		}
	}
	
	span.sub{
		line-height: 5px;
	}
}

div#guest_lower_container{
	margin: auto;
	width: 812px;
	
}

div#get_start_box{
	// 406
	padding: 7px 28px 7px 28px;
	width: 358px;
	p{
		line-height: 16px;
	}
	h1{
		font-size: 140%;
	}
	background-color: $main-color;
	color: white;
}

/*************** answer ******************/







/***************** tags ******************/

ul.tags{
	padding-top: 5px;
	li.tag{
		&:first-child{
			
		}
		overflow: hidden; 
	  height: auto !important; 
	  height: 15px;
	  margin: 0px 3px 0px 0px;
	  padding: 1px 3px;
	  background-color: lighten($main-color,30%);
	  color: #000;
	  cursor: default;
	  border: 1px solid $main-color;
	  font-size: 11px;
	  border-radius: 5px;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  float: left;
	  white-space: nowrap;
		line-height: 12px;
	}
}



/****************** Questionnaire *******************/

div#questionnaire {
	ol{
		list-style: decimal;
		li.questions{
			line-height: 16px;
			clear:both;
			margin-bottom: 25px;
		}
	}
	ul{
		padding-left: 14px;
		list-style: square;
		li.questionnaire_answer{
			clear:both;
			line-height: 16px;
			padding-top: 5px;
		}
	}
}


div#questionnaire_real {
	padding-right: 14px;

	
	ol{
		list-style: none;
		li.questions{
			padding: 5px 0 0 14px;
			border-top: 1px dotted #AAA;
			line-height: 16px;
			clear:both;
			margin-bottom: 25px;
			&:first-child{
				border: none;
			}
		}
	}
	ul{
		padding-left: 14px;
		list-style: none;
		li.questionnaire_answer{
			clear:both;
			line-height: 16px;
			padding-top: 5px;
		}
	}
	
	div.fake_button{
		//font-color: white !important;
		font-style: italic;
		width: 46px;
		float: left;
	}
	
	div.next_button{
		float: left;
		margin-left: 5px;
	}
	
	div.back_button{
		margin-left: 50px;
		float: left;
	}
	
	div.submit_button{
		margin-right: 10px;
		float: right;
	}
}


/**************** club show **********************/

div#likebox{
	div#likecount{
	}
}


div.club_info{
	background: #AAB;
	width: 408px;
	float: left;
	padding: 0 14px 0 14px;
	// 436 px
	div#likebox{
		float: right;
		padding: 5px;
		border: 1px solid black;
	}
}

div.strain_list{
	background: #AAC;
	width: 221px;
	float: right;
	padding-left: 7px;
	padding-right: 7px;
	//235
}



table#strain_search{
	//width: 93%;
}




div.club_info{
	div.stats{
		margin-bottom: 10px;
	}
	
	div.strains{
		padding-top: 5px;
		border-top: 1px dotted black;
	}
}

div#strains_search{
	li.description{
		line-height: 1.5;
	}
	
	div.buttons{
		float: right;
		li{
			float: left;
		}
	}
}


/**************** pagination **********************/

div.apple_pagination{
}

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em; }
.apple_pagination .disabled {
  color: #aaaaaa; }
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.apple_pagination a {
  text-decoration: none;
  color: black; }
  .apple_pagination a:hover, .apple_pagination a:focus {
    text-decoration: underline; }
