<header>
	<div class="header">
		<h1 id='cannanerd'>
			<a href="<%= root_path %>">Canna</br>Nerd</a>
			</h1>
		<div class="sg-4">
			<h2>Login</h2>
		</div>
		<div class="sg-4">
			<h2></h2>
		</div>
		<div class="sg-4">
			<h2></h2>
		</div>
		<div class="sg-4">
			<h2>Hi!</h2>
			<ul>
				<li><%= link_to 'About', about_path %></li>
				<li><%= link_to 'Contact', contact_path %></li>
			</ul>
		</div>
	</div>
</header>