<% if content_for?(:navbar) %>
<div id='navbar' class='sg-4'>
	<div id='subtitle'><h1><%= yield(:subtitle) %></h1></div>
	<ul>
		<%= yield :navbar %>
	</ul>
	<div class='clear'></div>
</div>
<% end %>